Django
Fabric
argparse
boto
coverage
django-debug-toolbar
greeking
flake8
psycopg2
pycrypto
pyflakes
python-coveralls
python-memcached
pytz
six
sqlparse
django-markdown-deux
facebook-sdk
django-environ
python-social-auth
social-auth-app-django
