{% load static %}
{% load next_item_for %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <noscript>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    </noscript>
    <!-- Google keeps breaking SRI hashes, so I removed it -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css"
        integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS?display=swap"
        crossorigin="anonymous" media="print" onload="this.media='all'">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="preload" href="{% static 'style.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </noscript>


    <!-- whatsapp-->
    {% if previewImgLink %}
    <meta property="og:image" content="{{ previewImgLink }}">
    {% endif %}
    {% if previewTitle %}
    <meta property="og:title" content="{{ previewTitle }}">
    {% endif %}
    {% if previewDescription %}
    <meta property="og:description" content="{{ previewDescription }}">
    {% endif %}
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Legado do Frei Rui Guido Depiné">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:locale:alternate" content="en_US">
    <meta property="og:locale:alternate" content="de_DE">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    {% if previewTitle %}
    <meta name="twitter:title" content="{{ previewTitle }}">
    {% endif %}
    {% if previewDescription %}
    <meta name="twitter:description" content="{{ previewDescription }}">
    {% endif %}
    {% if previewImgLink %}
    <meta name="twitter:image" content="{{ previewImgLink }}">
    {% endif %}

    <script>
        function goToCategory(category) {
            this.event.preventDefault();
            const prettifiedUrl = category.replace(/\s|%20/g, '_');
            window.location.href = window.encodeURI(prettifiedUrl);
        }

        const getCookieLang = () => (/.*lang=([^;]*).*/i.exec(document.cookie) ?? [''])[1] || 'pt';
        window.getCookieLang = getCookieLang;

        const setCookie = (lang) => {
            const now = new Date();
            const time = now.getTime();
            const expireTime = time + 3600000 * 36000;
            const expireDate = now;
            expireDate.setTime(expireTime);
            const prev_lang = getCookieLang();
            document.cookie = `prev_lang=${prev_lang};expires=${expireDate.toUTCString()};path=/`;
            document.cookie = `lang=${lang};expires=${expireDate.toUTCString()};path=/`;
            //console.log(document.cookie);  // 'Wed, 31 Oct 2012 08:50:17 UTC'
        }


        const setSelectedLanguage = () => {
            const lang = getCookieLang();
            const langSelector = document.getElementById('lang-select');
            const langOptions = langSelector.getElementsByTagName('option');

            [...langOptions].some((option) => {
                if (option.value === lang) {
                    option.selected = true;
                    return true;
                }
            })
        }

        function changeValue() {
            const langSelect = document.getElementById('lang-select');
            const { value = 'pt' } = langSelect;
            setCookie(value);
            // Reload the page
            window.location.reload();
        }

        window.onload = () => {
            setSelectedLanguage();
        };
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Legado do Frei Rui Guido Depiné, obras, textos, poesias, homilias, histórias, eventos e ações">
    <title>Legado do Frei Rui Guido Depiné</title>
    <!-- meta property="fb:page_id" content="271595581748248" -->
</head>

<body>
    <header class="text-white">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="text-bg" style="margin-left: 5px;">
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'logo.webp' %}" width="170" height="170" alt="contornos do Frei Rui">
                    </a>
                    {% if user.is_authenticated %}
                    <a href="/admin" class="nav-link">Painel de Admin</a>
                    {% endif %}
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 10px;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="drop-fonts px-2 text-bg collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% for category in categories %}
                        {% if forloop.counter == 2 %}
                        <li class="nav-item dropdown">
                            {% if user.is_authenticated %}
                            <span style="display: flex; flex-direction: row; align-items: center; margin-left: 10px;">
                                <a class="nav-link" href="{% url 'category_edit' pk=category.pk %}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                {% endif %}
                                <a class="nav-link dropdown-toggle {% if category.published == False %} danger {% endif %}"
                                    href="#" style="cursor: default;" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ category.name }}
                                </a>
                                {% if user.is_authenticated %}
                            </span>
                            {% endif %}
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    {% if user.is_authenticated %}
                                    <span
                                        style="display: flex; flex-direction: row; align-items: center; margin-left: 10px;">
                                        <a class="nav-link" href="{% url 'category_edit' pk=category.pk %}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        {% endif %}
                                        <a class="dropdown-item {% if category.published == False %} danger {% endif %}"
                                            href="{% url 'post_list' category=category.name %}"
                                            onclick="goToCategory(`{% url 'post_list' category=category.name %}`)">
                                            {{ category.name }}
                                        </a>
                                        {% if user.is_authenticated %}
                                    </span>
                                    {% endif %}
                                </li>
                                <!-- assign next element to a variable -->
                                {% with next_category=categories|next:forloop.counter0 %}
                                <li>
                                    {% if next_category.pk %}
                                    {% if user.is_authenticated %}
                                    <span
                                        style="display: flex; flex-direction: row; align-items: center; margin-left: 10px;">
                                        <a class="nav-link" href="{% url 'category_edit' pk=next_category.pk %}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        {% endif %}
                                        <a class="dropdown-item {% if next_category.published == False %} danger {% endif %}"
                                            href="{% url 'post_list' category=next_category.name %}"
                                            onclick="goToCategory(`{% url 'post_list' category=next_category.name %}`)">
                                            {{ next_category.name }}
                                        </a>
                                </li>
                                {% if user.is_authenticated %}
                                </span>
                                {% endif %}
                                {% endif %}
                                {% endwith %}
                            </ul>
                        </li>
                        {% elif forloop.counter > 3 or forloop.counter == 1 %}
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                            <span style="display: flex; flex-direction: row; align-items: center; margin-left: 10px;">
                                <a class="nav-link" href="{% url 'category_edit' pk=category.pk %}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                {% endif %}
                                <a class="nav-link {% if category.published == False %} danger {% endif %}"
                                    href="{% url 'post_list' category=category.name %}"
                                    onclick="goToCategory(`{% url 'post_list' category=category.name %}`)">
                                    {{ category.name }}
                                </a>
                                {% if user.is_authenticated %}
                            </span>
                            {% endif %}
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!-- Linguas -->
    <div style="display: flex; position: absolute; top: 215px; left: 15px; width: 75px;">
        <select class="form-select" aria-label="Language/ Língua" id="lang-select" onchange="changeValue()">
            <option value="pt"> 🇧🇷 </option>
            <option value="en" disabled> 🇺🇸 </option>
            <option value="de" disabled> 🇩🇪 </option>
        </select>
    </div>
    <div class="content container" style="height: auto; min-height: 100%;">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-footer">
                    <span>Legado Frei Rui Guido Depiné | 2021
                    </span>
                </div>
                <div class="col-md-4 d-flex justify-content-end icons-footer">
                    <a href="https://www.facebook.com/Legado-do-Frei-Rui-Depin%C3%A9-101772318808572/"
                        class="btn btn-outline">
                        <i aria-hidden="true" class="fab fa-facebook" style="color: #2264ac" title="Facebook"></i>
                    </a>

                    <a href="https://www.youtube.com/channel/UCNC-pWwv7UpVAOZ9nBH7-HA" class="btn btn-outline ml-2">
                        <i aria-hidden="true" class="fab fa-youtube" style="color: #2264ac" title="youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"
        async defer></script>
</body>

</html>