{% extends 'base.html' %}

{% block content %}

<script>
    /** @type {'accordion' | 'cards'} */
    let listingType = '{{ category.listing_type | escapejs }}';

    const onChangeListingType = (newType) => {
        window.listingType = newType;
        const listingTypeInput = document.getElementById('id_listing_type');
        listingTypeInput.value = newType;
        if (newType === 'accordion') {
            document.getElementById('accordion-listing').checked = true;
            document.getElementById('cards-listing').checked = false;
        } else {
            document.getElementById('cards-listing').checked = true;
            document.getElementById('accordion-listing').checked = false;
        }
    };
    const setAccordion = () => {
        onChangeListingType('accordion');
    };
    const setCards = () => {
        onChangeListingType('cards');
    };
    const flip = () => {
        if (window.listingType === 'accordion') {
            setCards();
        } else {
            setAccordion();
        }
    };
    const isCheckedAccordion = () => {
        return window.listingType === 'accordion';
    };
    const isCheckedCards = () => {
        return window.listingType === 'cards';
    };

    window.flip = flip;
    window.isCheckedAccordion = isCheckedAccordion;
    window.isCheckedCards = isCheckedCards;
    window.listingType = listingType;

    const oldWindowOnload = window.onload;
    window.onload = () => {
        if (window.listingType === 'accordion') {
            setAccordion();
        } else {
            setCards();
        }
    };

</script>
<div style="display: flex; flex-direction: column; margin-top: 50px; margin-bottom: 20px;">
    <span style="display: flex; justify-content: space-between; align-items: center; width: 20%;">
        <label for="accordion-listing">Listagem em acordião?</label>
        <input type="checkbox" onchange="flip()" id="accordion-listing"></input>
    </span>
    <span style="display: flex; justify-content: space-between; align-items: center; width: 20%;">
        <label for="cards-listing">Listagem em cartões?</label>
        <input type="checkbox" onchange="flip()" id="cards-listing"></input>
    </span>
</div>
<form id="post_form" method="post" action="" enctype="multipart/form-data">
    <div id="editor"></div>

    {% if not category.published %}
    <p>category not published :^(</p>
    {% endif %}

    {% csrf_token %}
    {{ category_form.as_p }}
    <input type="submit" name="submit" value="Salvar" />
</form>
{% endblock %}