{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
{% if category %}
<span style="display: flex; flex-direction: row; justify-content: space-evenly;">
    <a href="{% url 'post_new' category=category.name %}" class="top-menu"
        style="margin-top: 50px; display: flex; flex-direction: column; align-items: center;">
        <i class="far fa-plus-square fa-5x"></i>
        <p> criar postagem </p>
    </a>
    <a href="{% url 'category_new' %}" class="top-menu"
        style="margin-top: 50px; display: flex; flex-direction: column; align-items: center;">
        <i class="far fa-plus-square fa-5x"></i>
        <p> Criar Categoria </p>
    </a>
</span>
{% endif %}
{% endif %}

<section>

    <div style="padding-bottom: 30px; padding-top: 30px;" class="d-flex justify-content-center h1-quemsomos">
        <h2>
            {{ category.title }}
        </h2>
    </div>

    <div class="container h5-title">
        <div class="row row-cols-4 centro-card justify-content-center align-items-center p-center">

            {% for post in posts %}
            <div class="col" style="width: 300px;">
                <div class="card mt-5 mb-5 card-size">
                    <div class="card-body d-flex title-homilias flex-column align-items-center">
                        <h5 class="post-title {% if post.is_deleted %} text-danger {% endif %}">
                            {% if post.published_date > now %}
                            <i class="far fa-clock text-danger"></i>
                            {% endif %}
                            {% if posts.title %}
                            <h1>
                                {{ posts.title }}
                            </h1>
                            {% endif %}
                        </h5>
                        <div class="btn-custom">
                            <button class="button-bb"
                                onclick="(() => window.location.href = window.encodeURI(`{% url 'post_details' category=post.category pk=post.pk %}`))()">
                                {{ post.category.short_name }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}