{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}

{% if user.is_authenticated %}
<span style="display: flex; flex-direction: row; justify-content: space-evenly;">
    <a href="{% url 'post_edit' pk=posts.pk %}" class="top-menu"
        style="margin-top: 50px; display: flex; flex-direction: column; align-items: center;"> <i
            class="fas fa-edit fa-5x"></i>
        <p> Editar post </p>
    </a>
    <a href="{% url 'post_new' %}" class="top-menu"
        style="margin-top: 50px; display: flex; flex-direction: column; align-items: center;"> <i
            class="far fa-plus-square fa-5x"></i>
        <p> criar postagem </p>
    </a>
    <a href="{% url 'category_new' %}" class="top-menu"
        style="margin-top: 50px; display: flex; flex-direction: column; align-items: center;"> <i
            class="far fa-plus-square fa-5x"></i>
        <p> Criar Categoria </p>
    </a>
</span>


<script>
    const oldWindowOnload = window.onload;
    window.onload = () => {
        if (oldWindowOnload) {
            oldWindowOnload();
        }

        // seleciona todas as imagens do post
        const images = document.querySelectorAll('.content img');
        images.forEach((image) => {
            // adiciona um botão de editar embaixo de cada imagem
            const edit_button = document.createElement('button');
            edit_button.innerText = 'Editar';
            // adiciona o evento de click para cada imagem
            edit_button.addEventListener('click', (ev) => {
                const imageEditorOpen = window.ImageEditorOpen;
                const relativePath = image.src.replace(`${window.location.origin}/media/`, '')
                window.location.href = `/picture/${relativePath}/edit/`;
            });
            // substitui a imagem por uma div
            const image_div = document.createElement('div');
            image_div.style = 'display: flex; flex-direction: column; margin-bottom: 40px;';
            image_div.appendChild(image.cloneNode(true));
            image_div.appendChild(edit_button);
            image.replaceWith(image_div);
        });
    };
</script>
{% endif %}

<section>
    <div style="padding-bottom: 30px; padding-top: 30px;" class="d-flex justify-content-center h1-quemsomos">
        <h1>
            {{ posts.title }}
        </h1>
    </div>

    <div class="p-text-center">
        <p class="post-cruncher">{{ posts.text | markdown:"safe" }}</p>
    </div>
</section>

{% endblock %}