{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated%}
{% if category %}
<span style="display: flex; flex-direction: row; justify-content: space-evenly;">
    <a href="{% url 'post_new' category=category.name %}" class="top-menu"
        style="margin-top: 50px; display: flex; flex-direction: column; align-items: center;">
        <i class="far fa-plus-square fa-5x"></i>
        <p> criar postagem </p>
    </a>
    <a href="{% url 'category_new' %}" class="top-menu"
        style="margin-top: 50px; display: flex; flex-direction: column; align-items: center;">
        <i class="far fa-plus-square fa-5x"></i>
        <p> Criar Categoria </p>
    </a>
</span>
{% endif %}
{% endif %}
<section>
    <div style="padding-bottom: 30px; padding-top: 30px;" class="d-flex justify-content-center h1-quemsomos">
        <h2>
            {{ category.title }}
        </h2>
    </div>

    {% for post in posts %}
    <div
        class="d-flex title-homilias flex-column align-items-center justify-content-center {% if post.is_deleted %} text-danger {% endif %}">
        <span class="span-padding">
            {% if post.published_date > now %}
            <i class="far fa-clock text-danger"></i>
            {% endif %}
            {{ post.title }}
        </span>
        <hr style="color: #544f4f; width: 450px;">

        <div class="btn-custom">
            <button class="button-bb"
                onclick="(() => window.location.href = `{% url 'post_details' category=post.category pk=post.pk %}`.replace('%20', '_'))()">
                {{ post.category.short_name }}
            </button>
        </div>
    </div>
    {% endfor %}

</section>
{% endblock %}